/*esto es un comentario en CSS*/
*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding-top: 10px;
    text-shadow: 2px 2px rgb(106, 106, 117);
    color: aliceblue;
}
 a{
    padding: 15px;
}
 footer{
    text-align: center;
 }
 header{ 
    background-color: rgb(134, 183, 224);
 }
 .verde{
   width: 80px;
   height: 25px;
    color: rgb(214, 213, 227);
    font-size: larger;
    padding: 10px;
    margin: 40px 20px 20px 20px;
    border-radius: 10px;
    background-color: rgb(13, 94, 155);
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
 }
 .verde:hover{
   background-color:white;
   color: black;
 }
 #iconito{
   padding-bottom: 5px;
   border-radius: 20px 20px 20px 20px;
   }
 table{
   padding: 2px;
   border-radius: 8px;
 }
 div{
   background: linear-gradient(black, deepskyblue)
 }
.fotitos{
   border-radius: 10px;
   padding: 3px;
   filter:drop-shadow(3px 3px 3px deepskyblue)
}
nav{
   display: flex;
}